body {
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 800px;
        height: 500px;
        background-position: -750px 0px; /* left is x axis right is y axis*/

        background-size: 100%;
        background-image: url('image-url');
        animation-name: zoom;
        animation-duration: 3s;
        animation-delay: 0s; /* how long until after img loads to start animation*/
        animation-iteration-count: infinite; /* runs forever*/
        anImation-timing-function: ease-in-out; 
        animation-fill-mode: forwards;
}

@keyframes zoom  {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 300%;
    }
    100% {
        background-size: 100%;
    }
}


@media(max-width: 1100px) and (min-width: 901px) {
    .box {
        width: 800px;
        height: 200px;
        background-size: 100%;
        background-image: url('')
    }
}

@media(max-width: 900px) and (min-width: 801px) {
    .box {
        background-color: darkgoldenrod;
        animation-name: 'name';
        animation-duration: 1s;
    }
}

@media(max-width: 800px) {
    .box{
        background-color: coral;
    }
}