header {
  height: 90px;
  width: 100vw;
  background-color: red;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header > div {
  height: 100%; /* takes up whole parent component */
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul { /* no chevrons means it's not a direct child meaning it will change everything not just a single one*/
  min-width: 400px;
  display: flex;
  background-color: darkgoldenrod;
    justify-content: space-between;
    align-items: center;
}

header a {
  color: white;

}

header button {
  display: none;
}

@media screen and (max-width: 700px) {
  header nav {
    min-height: 100vh;
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(300px, 0);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }

  header .show {
    transform: tranlsate(0, 0)
  }

  header nav ul {
    flex-direction: column;
    min-width: 300px;
    height: 300px;
    padding: 90px;
    background-color: green;
    
  }

  header div button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    z-index: 1; /* z-index is going through the computer screen like x is horizontal, y is vertical and z is the third dimension that appears as if it goes through the computer screen, think of a 3d graph*/
    background-color: fuchsia;
  }
}